body{
font-family:Arial;
margin:0;
background:white;
color:black;
transition:0.3s;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#111;
color:white;
}

.hero{
text-align:center;
padding:80px 20px;
}

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.card{
padding:20px;
border-radius:10px;
background:#f3f3f3;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* dark mode */

.dark{
background:#121212;
color:white;
}

.dark .card{
background:#1f1f1f;
}
